.home {
    background-color: beige;
    color: blue;
    font-family: Arial;
    text-align: center;
}

.resume {
    background-color: beige;
    color: blue;
    font-family: Arial;
}

.setup {
    background-color: beige;
    color: blue;
    font-family: Arial;
    text-align: center;
}

.test {
    background-color: beige;
    color: blue;
    font-family: Arial;
    text-align: center;
}

.text {
    background-color: beige;
    color: blue;
    font-family: Arial;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 98%;
    max-height: 100%;
    padding: 1em 0em 1em 0em;
}

audio {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 98%;
    max-height: 100%;
    padding: 1em 0em 1em 0em;
}