nav {
    text-align: center;
}

footer {
    text-align: center;
}

.home {
    background-color: lightskyblue;
    color: black;
    font-family: Calibri;
    text-align: center;
}

.resume {
    background-color: lightskyblue;
    color: black;
    font-family: Calibri;
}

.setup {
    background-color: lightskyblue;
    color: black;
    font-family: Calibri;
    text-align: center;
}

.test {
    background-color: lightskyblue;
    color: black;
    font-family: Calibri;
    text-align: center;
}

.specs {
    column-count: 2;
}

.components {
    text-align: left;
}

.text {
    background-color: lightskyblue;
    color: black;
    font-family: Calibri;
    text-align: center;
}

.loremipsum {
    text-align: left;
  color: white;
    font-family: fantasy;
    padding: 0 10em 0 10em;
}

.picture {
    display: block;
    margin: 0 auto;
    max-width: 98%;
    max-height: 100%;
    padding: 1em 0em 1em 0em;
}

audio {2
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
    padding: 2em 0em 2em 0em;
}